alias ls="ls -GhT"
alias l="ls -la"
alias ll="ls -l"
alias rm="rm -d"
alias mkdir="mkdir -p"
alias cp="cp -av"

alias tm="tmux a || tmux"

alias partch="ssh -t u5388374@partch.anu.edu.au 'tmux a || tmux'"
alias ppartch="ssh -D 8080 -C -N u5388374@partch.anu.edu.au"
alias dl="aria2c --file-allocation=none -x 4"
alias vim="nvim -p"
alias sudo="sudo "
alias diff="colordiff -u"
alias mk="make"
alias ddu="du -sh -- * | sort -hr | less"
alias gz="tar -cvzf"
alias du="du -hs"
alias r="source $(which ranger)"
alias sha256="shasum -a 256"

# crypto
alias encrypt="python ~/Dropbox/scripts/crypto.py -e"
alias decrypt="python ~/Dropbox/scripts/crypto.py -d"
alias neo="decrypt -f ~/Documents/.ans | pbcopy"
alias iota="decrypt -f ~/Documents/.iota | pbcopy"

# Jump back n directories at a time
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ......='cd ../../../../../'

#git
alias ga="git add"
alias gap="git add -p"
alias gc="git commit -v"
alias gch="git checkout"
alias gd="git diff"
alias gl="git log"
alias gp="git push"
alias gpl="git pull"
alias gs="git status"
alias grm="git rm --cached"
alias gr="git reset --soft HEAD~1"

#hg
alias hga="hg add"
alias hgc="hg commit"
alias hgp="hg push"

#svn
alias svnd="svn diff | view -"
alias svnl="svn log | less"

alias tv="terminal_velocity"

# vim: ft=sh

