alias tm="tmux a || tmux"
alias sb="source ~/.bashrc"
alias pip="pip2.7"
alias tf="source ~/Dev/tensorflow/bin/activate"
alias partch="ssh -t u5388374@partch.anu.edu.au 'tmux a || tmux'"
alias ppartch="ssh -D 8080 -C -N u5388374@partch.anu.edu.au"
alias dl="aria2c --file-allocation=none -x 4"
alias ls="ls -GhT"
alias l="ls -la"
alias ll="ls -l"
alias rm="rm -d"
alias mkdir="mkdir -p"
alias cp="cp -av"
# alias cp="rsync -ahvz"
alias jj="java -jar"
alias st="speedtest-cli"
alias js="jekyll server"
alias py="python"
alias py3="python3"
alias rf="source ~/.bash_profile"
alias avd="emulator -avd Nexus_5_API_21_x86"
alias vim="nvim -p"
alias v="vim"
alias sudo="sudo "
alias diff="colordiff -u"
alias mk="make"
alias ddu="du -sh -- * | sort -hr | less"
# aliases for adb stuff
alias adbp="adb push -p"
alias adbr="adb shell mount -o rw,remount /;"
# alias brew="brew -v"
alias gz="tar -cvzf"
alias du="du -hs"
alias r="source $(which ranger)"
alias pte="ipython -i ~/Documents/ml/pytorch_env.py"
alias sha256="shasum -a 256"

# ssh into csiro's GPU2 machine
alias gpu1="ssh -t  yixuan@152.83.70.44 'tmux a || tmux'"
alias gpu2="ssh -t vincent@152.83.70.96 'tmux a || tmux'"
alias bracewell="ssh -t au009@bracewell.hpc.csiro.au 'tmux a || tmux'"
alias bw="bracewell"
alias ni="ssh -t ni006@bracewell.hpc.csiro.au 'tmux a || tmux'"

# crypto
alias encrypt="python ~/Dropbox/scripts/crypto.py -e"
alias decrypt="python ~/Dropbox/scripts/crypto.py -d"
alias neo="decrypt -f ~/Documents/.ans | pbcopy"
alias iota="decrypt -f ~/Documents/.iota | pbcopy"

# Jump back n directories at a time
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ......='cd ../../../../../'

#git
alias ga="git add"
alias gap="git add -p"
alias gc="git commit -v"
alias gch="git checkout"
alias gd="git diff"
alias gl="git log"
alias gp="git push"
alias gpl="git pull"
alias gs="git status"
alias grm="git rm --cached"
alias gr="git reset --soft HEAD~1"

#hg
alias hga="hg add"
alias hgc="hg commit"
alias hgp="hg push"

#svn
alias svnd="svn diff | view -"
alias svnl="svn log | less"

alias tv="terminal_velocity"

# vim: ft=sh

